@page "/autistaM"
@using MudBlazor
<style>
    .my-container {
        text-align: center;
    }

    .my-image {
        width:500px;
        height:350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<PageTitle>Manejo del paciente</PageTitle>
<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge" Class="my-container">


    <MudText Typo="Typo.h2" Align="Align.Center" Class="my-title">
        MANEJO DEL PACIENTE
    </MudText>

</MudContainer>
<MudContainer MaxWidth="MaxWidth.Medium" Class="my-container">
    <MudCarousel MaxWidth="ExtraLarge" ItemsSource="@qs" @bind-SelectedIndex="selectedIndex" Style="height:400px;" AutoCycle="true">
        <ItemTemplate>
            <div class="d-flex justify-center" style="height:100%">
                <img src="@context" alt="Imagen del carrusel" class="carousel-image" />
            </div>
        </ItemTemplate>
    </MudCarousel>
</MudContainer>
<MudText Typo="Typo.body1 " Align="Align.Center" Class=" my-justified-text">
    El entrenamiento como el manejo del comportamiento usan refuerzos positivos para mejorar la conducta. También usan entrenamiento de las habilidades sociales para mejorar la comunicación. 
    El programa específico debería elegirse según las necesidades del niño. A los niños autistas altamente funcionales se los puede inscribir en clases y guarderías comunes; observar la conducta 
    de otros niños que se desarrollan normalmente puede darles a los niños autistas ejemplos a seguir. Pero otros niños reciben demasiado estímulo en un aula común y se desempeñan mejor en 
    entornos más pequeños y altamente estructurados. (CIGNA, 2021)
</MudText>
<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex justify-center align-center" Style="padding: 20px;">
    <div style="width:700px; height:450px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wex4aLnDZVw?si=dHIXqCQQSCwVg5ai" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</MudContainer>

<MudGrid Class="mt-6">
    <MudItem xs="12" sm="12">
        <MudText Typo="Typo.h4" Align="Align.Start">
            NUTRICIONAL
        </MudText>
        <MudText Align="Align.Start" Class=" my-justified-text">
            Los pacientes con autismo presentan una hiperselectividad alimentaria, en donde rechazan determinada comida y hacen que su dieta sea pobremente variada, esto relacionado con la 
            composición nutricional (proteínas, hidratos de carbono, etc.) y/o sensorial (textura, olor, sabor, aspecto visual, temperatura). La alimentación y nutrición son procesos en los 
            que influyen factores biológicos, ambientales y socioculturales que durante la infancia contribuyen al crecimiento, desarrollo y maduración biopsicosocial. (Hernández, y otros, 2023)
            
        </MudText>
        <br>
        <MudText Align="Align.Start" Class=" my-justified-text">
            Tener una dieta equilibrada es el escalón base para lograr una buena nutrición, se debe buscar un equilibrio entre los diferentes grupos de alimentos, centrándose en la elección de 
            los alimentos según su composición nutricional (proteínas, hidratos de carbono, etc.) y/o aspectos sensoriales (textura, olor, sabor, etc.). (Jara, Aros, & Ibacache, 2024)

        </MudText>
        <br>
        <MudText Align="Align.Start" Class=" my-justified-text">
            Una dieta equilibrada debe contener todos los grupos de alimentos en cantidades recomendadas, para facilidad de conformación de plato se recomienda dividirlo en 3 partes, en la parte 
            más grande van las verduras y frutas, en la otra proteína, en la última los carbohidratos, siempre acompañada de un vaso de agua o bebida de fruta natural.
        </MudText>
        <br>
        <MudImage  Src="Imagenes/san1.png" Alt="Descripción de la imagen" Class="my-image" />
        <br>
        <MudText Align="Align.Start" Class=" my-justified-text">
            La preparación de los alimentos debe ser los más saludable posible disminuyendo el consumo de alimentos saturados y aumentando el consumo de alimentos monoinsaturados o poliinsaturados, 
            las verduras deben prepararse al vapor o crudas y los carbohidratos deben ser complejos de forma que se eviten problemas nutricionales y se tomen en cuenta los gustos y preferencias del 
            niño y que los alimentos estén al alcance de la economía familiar.
        </MudText>
    </MudItem>

</MudGrid>

<MudGrid Class="mt-6">
    <MudItem xs="12" sm="12">
        <MudText Typo="Typo.h4" Align="Align.Start">
            FÍSICO
        </MudText>
        <MudText Align="Align.Start" Class=" my-justified-text">
            El manejo físico de los pacientes con trastorno del espectro autista (TEA) es un componente esencial para mejorar sus habilidades motoras, sociales y de comunicación
        </MudText>
        <br>

        <MudText Typo="Typo.h5" Align="Align.Start">
            Intervenciones de actividades interactivas motoras:
        </MudText>
        <MudText Align="Align.Start" Class=" my-justified-text">
            El juego integrado y el ejercicio estructurado son dos intervenciones clave que han demostrado mejorar las habilidades motoras y la función social en niños con TEA. Estas 
            actividades deben enfocarse en ejercicios centrados en las habilidades motoras básicas, actividad física inclusiva y programas de ejercicios direccionados al desarrollo de 
            las habilidades motoras básicas de este grupo de pacientes.  (Li et al., 2023)
        </MudText>
    </MudItem>

</MudGrid>
<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex justify-center align-center" Style="padding: 20px;">
    <div style="width:700px; height:450px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GiXkKNRCaeA?si=9xiRcKjOYij9qcgB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</MudContainer>

<MudGrid Class="mt-6">
    <MudItem xs="12" sm="12">
        <MudText Typo="Typo.h5" Align="Align.Start">
            Terapia Física:
        </MudText>
        <MudText Align="Align.Start" Class=" my-justified-text">
            La terapia física es esencial para mejorar las habilidades motoras y la coordinación de estos pacientes, los fisioterapeutas crean programas personales que incluyen ejercicios 
            de equilibrio, coordinación, fuerza, etc. Estos modelos están destinados a mejorar la capacidad física del paciente abordando deficiencias motoras específicas. (NICE, 2021)
        </MudText>
    </MudItem>

</MudGrid>
<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex justify-center align-center" Style="padding: 20px;">
    <div style="width:700px; height:450px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3ugvOmCDWI0?si=EHl3dGAUkL_kAzBN" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
    </div>
</MudContainer>


<MudGrid Class="mt-6">
    <MudItem xs="12" sm="12">
        <MudText Typo="Typo.h4" Align="Align.Start">
            INTELECTUAL
        </MudText>
        <MudText Align="Align.Start" Class=" my-justified-text">
            En el trastorno del espectro autista (TEA) vamos a encontrar una implicación multidimensional, caracterizada por una interacción social disminuida con deficiencias en la 
            comunicación a través del lenguaje verbal y no verbal e inflexibilidad en el comportamiento al presentar conductas repetitivas e intereses restringidos. (Alcalá & Ochoa Madrigal, 
            2022). Es aquí donde radica la importancia de buscar alternativas que permitan estimular y/o modificar el desarrollo intelectual de nuestros niños en todas sus esferas:
        </MudText>

    </MudItem>

</MudGrid>
<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex justify-center align-center" Style="padding: 20px;">
    <div style="width:700px; height:450px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NIMY-m4CmtI?si=O8l9WIjGLopitplE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</MudContainer>

<MudGrid Class="mt-6">
    <MudItem xs="12" sm="12">
        <MudText Typo="Typo.h5" Align="Align.Start">
            Terapia de ánalisis conductual aplicado (ABA)
        </MudText>
        <MudText Align="Align.Start" Class=" my-justified-text">
            La terapia ABA se basa en el condicionamiento operante y de respuesta para cambiar o alterar comportamientos de importancia social. La terapia ABA difiere de la modificación del 
            comportamiento en que la terapia ABA cambia el comportamiento evaluando primero la relación funcional entre un comportamiento particular o específico y el entorno. 
            ( Leafwing Center, 2024)
        </MudText>
    </MudItem>

</MudGrid>
<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex justify-center align-center" Style="padding: 20px;">
    <div style="width:700px; height:450px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Cg8a1TLXVEA?si=YXcnb4vhUPw77jW0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</MudContainer>
<MudGrid Class="mt-6">
    <MudItem xs="12" sm="12">
        <MudText Typo="Typo.h5" Align="Align.Start">
            Role-player (Juego de roles)
        </MudText>
        <MudText Align="Align.Start" Class=" my-justified-text">
            El juego de roles contribuye a la formación de la personalidad del infante, a través de experiencias sociales, las mismas que son orientadas por un adulto; ya que en esta etapa es 
            en donde se van asentando las bases sólidas que posibilitan un aprendizaje claro en consecuencia con la regulación de sus emociones. (Zurita, 2022)
        </MudText>
    </MudItem>

</MudGrid>
<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex justify-center align-center" Style="padding: 20px;">
    <div style="width:700px; height:450px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/l4_O157RXKs?si=ZcGQz9XBeRqI-pfA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</MudContainer>
<MudGrid Class="mt-6">
    <MudItem xs="12" sm="12">
        <MudText Typo="Typo.h5" Align="Align.Start">
            Terapia de integración sensorial
        </MudText>
        <MudText Align="Align.Start" Class=" my-justified-text">
            Favorece la participación del niño en actividades físicas, sociales y funcionales ricas en experiencias sensoriales, e individualizadas. (Arévalo-Rodríguez, 2022)
        </MudText>
    </MudItem>
</MudGrid>
<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex justify-center align-center" Style="padding: 20px;">
    <div style="width:700px; height:450px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cSUwsI4IHmg?si=wVcQEpBHCkI3LZGw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</MudContainer>
<MudGrid Class="mt-6">
    <MudItem xs="12" sm="12">
        <MudText Typo="Typo.h5" Align="Align.Start">
            •	Técnica del cepillado
        </MudText>
    </MudItem>
</MudGrid>
<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex justify-center align-center" Style="padding: 20px;">
    <div style="width:700px; height:450px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NW4qG1Zo3YU?si=NVXgcAcnVXdAzjGk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</MudContainer>
<MudGrid Class="mt-6">
    <MudItem xs="12" sm="12">
        <MudText Typo="Typo.h5" Align="Align.Start">
            El sistema de comunicación por intercambio de imágenes (PECS)
        </MudText>
        <MudText Align="Align.Start" Class=" my-justified-text">
            PECS es un sistema de tarjetas con imágenes que representan acciones, dándole una mayor significancia y estableciendo como punto fuerte del sistema la utilización de imágenes, ya 
            que se trabaja desde un inicio con la parte visual, aquella que en los niños con autismo es muy buena, logrando así una buena memoria visual que va siendo progresiva a medida que
            se van desarrollando las fases. (Carvajal-García & Triviño-Sabando, 2021)
        </MudText>
    </MudItem>
</MudGrid>
@* <MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex justify-center align-center" Style="padding: 20px;">
    <div style="width:700px; height:450px">
        <iframe width="675" height="425" src="https://www.youtube.com/watch?v=cSUwsI4IHmg" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</MudContainer> *@
<MudGrid Class="mt-6">
    <MudItem xs="12" sm="12">
        <MudText Typo="Typo.h5" Align="Align.Start">
            ¿Cuándo usarlo?
        </MudText>
    </MudItem>
</MudGrid>
<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex justify-center align-center" Style="padding: 20px;">
    <div style="width:700px; height:450px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LrP1z_PsIR8?si=klIbuXW2yhIRGAbc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</MudContainer>
<MudGrid Class="mt-6">
    <MudItem xs="12" sm="12">
        <MudText Typo="Typo.h5" Align="Align.Start">
            ¿Qué es y cómo utilizarlo?
        </MudText>
    </MudItem>
</MudGrid>
<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex justify-center align-center" Style="padding: 20px;">
    <div style="width:700px; height:450px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9f862GMvJf8?si=e0chqVuFlW1FtAah" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</MudContainer>
<br>
@code {
    private int selectedIndex = 0;
    private IList<string> qs = new List<string>
    {
        "Imagenes/ap1.jpg", "Imagenes/ap2.jpg", "Imagenes/ap3.jpg", "Imagenes/ap4.jpg"
    };
}