@inherits LayoutComponentBase
@using MudBlazor
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider /> 

<div class="page">
 
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @* <div class="top-row px-4" style="background-color: #9cc277;"> *@
         <div class="top-row px-4" style="background-color: #72964f;">
            <NavLink style="color:white" href="acercaDe">
                <MudIcon Icon="@Icons.Material.Filled.VerifiedUser" Class="oi oi-info" aria-hidden="true" />
                <span class="ml-2">Acerca de?</span>
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
        
    </main>
</div>
